<script>
    import {GlFormGroup, GlFormTextarea} from '@gitlab/ui';


    export default {
        components: {
            GlFormGroup,
            GlFormTextarea,
        },
        props: {
            msg: String
        },
        data() {
            return {
                text: '',
            }
        }
    }
</script>

<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>

<template>
    <gl-form-group id="group-id-textarea1" label="Label Name" label-for="textarea1">
        <gl-form-textarea id="textarea1" v-model="text" placeholder="Enter something"/>
    </gl-form-group>
</template>


