<script>
    import JsonInput from './components/json_input.vue'

    export default {
        components: {
            JsonInput
        }
    }
</script>

<template>
    <div id="app">
        <json-input/>
    </div>
</template>

<style scoped>
    #app {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
</style>
